In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.feature_selection import SelectKBest, f_regression
import warnings
import env
import wrangle
import split_scale
from pydataset import data

In [2]:
df = data("tips")

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3
4       23.68  3.31    Male     No  Sun  Dinner     2
5       24.59  3.61  Female     No  Sun  Dinner     4

## Part One

### Q1: Create a column named tip_percentage that = tip amount / total_bill

In [4]:
df["tip_percentage"] = df["tip"] / df["total_bill"]

df.head() # to see that the column was created

   total_bill   tip     sex smoker  day    time  size  tip_percentage
1       16.99  1.01  Female     No  Sun  Dinner     2        0.059447
2       10.34  1.66    Male     No  Sun  Dinner     3        0.160542
3       21.01  3.50    Male     No  Sun  Dinner     3        0.166587
4       23.68  3.31    Male     No  Sun  Dinner     2        0.139780
5       24.59  3.61  Female     No  Sun  Dinner     4        0.146808

### Q2: Create a price_per_person column that is the total_bill / party size (size)

In [5]:
df["price_per_person"] = df["total_bill"] / df["size"]

df.head() # check to see the column was created

,total_bill,tip,sex,smoker,day,time,size,tip_percentage,price_per_person
1,16.99,1.01,Female,No,Sun,Dinner,2,0.059447,8.495000
2,10.34,1.66,Male,No,Sun,Dinner,3,0.160542,3.446667
3,21.01,3.50,Male,No,Sun,Dinner,3,0.166587,7.003333
4,23.68,3.31,Male,No,Sun,Dinner,2,0.139780,11.840000
5,24.59,3.61,Female,No,Sun,Dinner,4,0.146808,6.147500

### Q3: Which features do I think would be the most important for predicting tip amount?  What about the most important features in predicting tip percentage?

- for tip_amount, I think the total_bill, gender, and smoker would be the most important

- for tip_percenage, I think total_bill, gender, time, and size would be the most imp.

### Q4: Use all the other numeric features to predict the tip amount.  Use SelectKBest and RFE to select the top two features.  What are they?

In [6]:
# First, I need to test and train my data:

train, test = train_test_split(df, train_size =.75, random_state = 123)

print(train.shape)

print(test.shape)

(183, 9)
(61, 9)

In [9]:
# Assign training / testing variables

X_train = train.drop(columns="tip")
y_train = train[["tip"]]
X_test = test.drop(columns="tip")
y_test = test[["tip"]]

In [10]:
# Now initialize the f_selector object

f_selector = SelectKBest(f_regression, k=2)

In [19]:
# fit the f_selector object to the data.

# f_selector.fit(X_train, y_train)

# when running the '.fit' line, I kept getting an error:
# ValueError: could not convert string to float: 'Male'

# So tried converting that column first to a float, then to an integer using:

# df['sex'] = df['sex'].astype(int)

# converting to an integer gave me the error:
# ValueError: could not convert string to float: 'Female'

# converting to a float gave me the error:
# ValueError: could not convert string to float: 'Female'

### Q5: Use all the other numeric features to precict the tip amount.  Use SelectKBest and RFE to select the top 2 features.  What are they?

### Q6: Why do I think SelectKBest and RFE might give different answers for the top features?  Does this change as I change the number of features I am selecting?

## Part 2:

- write a function called 'select_kbest' that takes in the predictors (X, or columns), the target(y), adn the number of features to select (k), and RETURNS the names of the top k selected features, based on the SelectKBest class.

- test that function with the tips dataset.  I should see the same results as when I did the process manually

In [ ]:
def select_kbest(df):
    return

## Part 3:

- write a function called 'rfe' that takes in the predictors, the target, and the number of feautures to select.  It should return the top k features based on the RFE class.  Test this function on the tips dataset.  I should see the same results as when I did the process manually.

In [ ]:
def rfe(df):
    return

## Part 4:

- Load the 'swiss' dataset and use all the other features to predict Fertility.  Find the top 3 features using both SelectKBest and RFE using the functions 'select_kbest' and 'rfe' functions I just created

In [23]:
df = data("swiss")

In [24]:
df.head()

,Fertility,Agriculture,Examination,Education,Catholic,Infant.Mortality
Courtelary,80.2,17.0,15,12,9.96,22.2
Delemont,83.1,45.1,6,9,84.84,22.2
Franches-Mnt,92.5,39.7,5,5,93.40,20.2
Moutier,85.8,36.5,12,7,33.77,20.3
Neuveville,76.9,43.5,17,15,5.16,20.6

### Using SelectKBest, find the two features that are most imp.

In [27]:
# First assign train / test to variables:

train, test = train_test_split(df, train_size =.75, random_state = 123)

print(train.shape)

print(test.shape)

(35, 6)
(12, 6)

In [29]:
# assign testing


X_train = train.drop(columns="Fertility")
y_train = train["Fertility"]
X_test = test.drop(columns="Fertility")
y_test = test["Fertility"]

In [30]:
# intialize the f_selector

f_selector = SelectKBest(f_regression, k=2)

In [31]:
# fit f_selector to the data

f_selector.fit(X_train, y_train)

SelectKBest(k=2, score_func=<function f_regression at 0x123055440>)

In [32]:
# Now transform our dataset to reduce to the best K features

X_reduced = f_selector.transform(X_train)

print(X_train.shape)
print(X_reduced.shape)

(35, 5)
(35, 2)

In [33]:
# create the mask to get the two variables that SelectKBest chose:

f_support = f_selector.get_support()

print(f_support)

[False  True  True False False]

In [34]:
# Get the location of the feature names selected from X_train using .loc
# along with my mask, using '.columns' to get column names (the features) 
# and convert those values to a list using '.tolist()'

f_feature = X_train.loc[:, f_support].columns.tolist()

print(str(len(f_feature)), "Selected Features")
print(f_feature)

2 Selected Features
['Examination', 'Education']

### Now use RFE (Recursive Feature Elimination) to do the same thing:

In [35]:
# Gotta import it

from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE

In [36]:
# Redo the train / test:

train, test = train_test_split(df, train_size =.75, random_state = 123)

print(train.shape)

print(test.shape)

(35, 6)
(12, 6)

In [37]:
# Reassign the testing variables.  
# ** Recall: Zach suggests just re-assigning the variables X_test, y_test, X_train, y_train
# altogether instead of creating dirty code: X_test2, y_test2, X_train2, y_train2

X_train = train.drop(columns="Fertility")
y_train = train["Fertility"]
X_test = test.drop(columns="Fertility")
y_test = test["Fertility"]

In [39]:
# initialize the linear regression object

lm = LinearRegression()

In [40]:
# now I initialize the regression object

rfe = RFE(lm, 2)

In [41]:
# fit the RFE object to the data:

rfe.fit(X_train, y_train)

RFE(estimator=LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                               normalize=False),
    n_features_to_select=2, step=1, verbose=0)

In [42]:
# transform X dataframe (from the training / testing)

X_rfe = rfe.fit_transform(X_train, y_train)

In [43]:
# fit the data to the model

lm.fit(X_rfe, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [45]:
# See what features (columns) made the cut by making the mask:

mask = rfe.support_

In [46]:
# then listing the results:

rfe_features = X_train.loc[:, mask].columns.tolist()

In [47]:
# show what made the cut!

print(str(len(rfe_features)), 'selected features')
print(rfe_features)

2 selected features
['Examination', 'Infant.Mortality']